version: '3.8'
name: dev-clean-architecture-go
services:
  postgres:
    build:
      context: .
    environment:
      POSTGRES_DB: clean-architecture-go
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
       - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14250:14250"
      - "14268:14268"
      - "14269:14269"
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=9411
  
  api:
    image: clean-architecture-go
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - TRACER_ENDPOINT=http://host.docker.internal:14268/api/traces
      - DATABASE_READER=user=root password=root dbname=clean-architecture-go host=host.docker.internal port=5432 sslmode=disable
      - DATABASE_WRITER=user=root password=root dbname=clean-architecture-go host=host.docker.internal port=5432 sslmode=disable
    ports:
      - "443:8080"
      - "80:8080"

volumes:
  postgres: